.container{
    justify-content: center;
    
    border:none;
    margin:0;
}

#groupicon{
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
  
}
#groupicon span{
    margin-top: 10px;
}

.hometext{
    position: absolute;
    transform-origin: 0 0;
    -ms-transform: rotate(90deg);
    transform: rotate(90deg) translate(0, -12px);
   
}
.styleguide{
    padding: 30px 5%;
    position: absolute;
    
    top: 50%;

    transform: rotate(90deg) translate(-45%, 0);
}
#name{
    transform: translate(10px, 0);
    font-size: 50px;
}
.item1{
    flex:1;
    display: flex;
    justify-content: center;
    padding-right: 5%;
    
 }
 /* .item2{
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    
  } */
#seemore{
    position: absolute;
    bottom:5%;
    right:5%;

}


.col{
    flex:0;
    padding: 0 10px 0 10px;
}
.col img{
    height: auto;
}
#parent{
    position: relative;
}

#myname {
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  font-family: 'Merriweather Sans', sans-serif;
  background-color: transparent;
  text-shadow: 2px 2px #000000;
  }
  #transformtext{
    display: flex;
    flex-direction:column;
    white-space: nowrap;
    overflow-x: auto;
  }
  #transformtext p {
      display: inline-block;
  }
/* #name{
    font-size: 20px;
} */
@media screen and (max-width: 500px) {
    .col img{
        
        width:100%;
      height: auto;
      
    }

}
  @media screen and (max-width: 900px) {
    .container {
        flex-direction: column;
      }
  
     .col img{
        max-width: 100%;
         width: 100%;
         height: 500px;
         object-fit: cover;
         
     }
      #seemore{
          position: relative;
          bottom:0;
          left:1%;
      }
    #myname {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0, 0);
    }
    #name{
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    .hometext{
    position: relative;
        padding: 0 10px 0 10px;
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    #groupicon{
   
        flex-direction:row;
        justify-content: space-between;
    }
    .item1{
        flex:1;
        flex-direction: column-reverse;
        justify-content: space-between;
        
     }
     
     .container{
         flex-direction: column;
     }
     .col{
         padding:0;
     }
   
    nav{
        padding: 30px 1%;
    }
}
/* @media screen and (max-width: 800px) {
    #videoeditor{
        position: absolute;
        transform-origin: 60px -30px;
        
    }
  } */