*{
    background-color: #1B1B1B;
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    color: white;
}
h1{
    text-align: center;
    padding-bottom:10px;
}
h3{
    padding-bottom: 30px;
}
/* navigation */
#logo{
    max-width: 50px;
    float: left;
    cursor: pointer;
    margin-right: auto;
}
 li, a{
    list-style-type: none;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
   
  } 
#navigation{
    list-style: none;
}
#navigation li{
    display: inline-block;
    padding: 0px 20px;
    
}
#navigation li a{
    transition: all 0.5 ease 0s;
}
#navigation li a:hover{
    color: gray;
    border-bottom: 2px solid white;
}
header{
    display:flex;
    /* flex-wrap: wrap; */
    justify-content: flex-end;
    align-items: center;
    padding: 30px 5%;
}
#styleguide-nav{
    text-align: center;
}
/* end of navigation */
/* icon */
.icon{
    display: inline-block;
  width: 50px;
  height: 50px;
  background-size: cover;
}
.youtube {
    background-image: url("../img/contacticon/youtube-white.svg");
  }
.youtube:hover, .youtube:focus {
    background-image: url("../img/contacticon/youtube-black.svg");
  }
  
  .facebook {
    background-image: url("../img/contacticon/fb-white.svg");
  }
.facebook:hover, .facebook:focus {
    background-image: url("../img/contacticon/fb-black.svg");
  }

  .gmail {
    background-image: url("../img/contacticon/gmail-white.svg");
  }
.gmail:hover, .gmail:focus {
    background-image: url("../img/contacticon/gmail-black.svg");
  }

  .linkedin {
    background-image: url("../img/contacticon/linkedin-white.svg");
  }
.linkedin:hover, .linkedin:focus {
    background-image: url("../img/contacticon/linkedin-black.svg");
  }

/* end of icon */
.container{
    display: flex;
    flex-direction: row;
    margin: 30px 5%;
    padding-bottom: 2rem;
    border: 5px solid white;
}

.col{
    flex: 50%;
    padding: 50px 50px 0 50px;;
}

code{
    background-color: white;
    padding: 1em;
    display: block;
    color: #1B1B1B;
    border-radius: 10px;
}
h2{
    padding-left: 20px;
}

@media screen and (max-width: 500px) {
    header, .container {
      flex-direction: column;
    }
}